.about
    margin-top: 112px
    &__wrapper
        margin-top: 40px
        display: flex
        justify-content: space-between
        column-gap: 40px
    &__img
        width: 585px
        height: 485px
    &__descr
        display: flex
        flex-direction: column
        row-gap: 20px
.video
    &__item
        display: block
        margin: 0 auto
        width: 1000px
        height: 565px